<!DOCTYPE html>
<html>
<head>
    <title>Invoice</title>
    <style>
        body{font-family: arial;}
        h1{color: orange;}
    </style>
</head>
<body>
    <h1>Invoice : #<%= invoiceNumber %></h1>
    <p>Customer: <%= customer %></p>
    <p>Product: <%= product %></p>
    <p>Price: <%= price %></p>
</body>
</html>